<h1>W E L C O M E T O T H E V I R T U A L Y O U T U B E P L A Z A . . .</h1>


<form class="" action="index.html" method="post">

  {{input value='videoId'}}

  <button {{action 'getNewVideo'}}>G E T N E W V I D E O</button>

</form>

<p>
  N E W V I D E O : {{newVideo}}
</p>
